/* 
/* Reset */
body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
}

/* Circular Blur Background */
body::before {
    content: '';
    position: absolute;
    width: 1000px;
    height: 800px;
    background: radial-gradient(circle, rgba(0, 255, 0, 0.637), transparent);
    top: -10%;
    left: -20%;
    filter: blur(80px);
    border-radius: 50%;
    z-index: -1;
}
body::after {
    content: '';
    position: absolute;
    width: 900px;
    height: 400px;
    background: radial-gradient(circle, rgba(0, 153, 255, 0.6), transparent);
    bottom: 0%;
    top: 50%;
    right: 0%;
    filter: blur(100px);
    border-radius: 50%;
    z-index: -1;
}

.signInSection{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
     width: 90vw;
    height: 90vh; 
    border-radius: 28px;
    
}

.MainImg{
    object-fit: cover;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;    
}

.MainImg img{
    width: 100%;
    height:90%;
    object-fit: cover;
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    padding: 10px;
    border-radius: 10px;
   
    margin-right: 10px;
    overflow: hidden;
    width: 60%;
    height: 90%;
}

.form-headTitle{
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    margin-bottom: 2%;
    display: flex;
    justify-content: start;
    align-items: center;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.2); 
}

h1{
    font-size: 18px;
}

.form-headTitle img {
    
    width: 50px;
    object-fit: cover;
}

form{
    margin-top: 2%;
}

.btn-container{
    margin-top: 10%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn{
    color: white;
    width: 30%;
    height: 40px;
    border: none;
    background-color: #009444;
}
.btn:hover{
    background-color: #007f3f;
    color: white;
}

.text-link{
    text-decoration: none;
}

input , select{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.486); 
}   

  
/* #popMain{
    position: fixed;
    top: 5%;
    right: 0;
    width: 300px; 
    height: auto; 
    z-index: 1000; 
}
.error-message-popup{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: fixed;
} */